<a href="https://colab.research.google.com/github/iahmed3000/app-development/blob/python-skills/control_flow_udacity.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
cities=["Jeddah","Taif","Makkah","Riyadh","Dammam"]
for city in cities:
    print(city.title())

Jeddah
Taif
Makkah
Riyadh
Dammam

In [0]:
capitalize_cities=[]
for city in cities:
    capitalize_cities.append(city)
print(capitalize_cities)

['Jeddah', 'Taif', 'Makkah', 'Riyadh', 'Dammam']

In [0]:
for i in range(5):
    print(i)

0
1
2
3
4

In [0]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [0]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [0]:
for i in range(1,7):
    print(i*5)

5
10
15
20
25
30

In [0]:
i=1
while(i<=5):
    print(i*5)
    i=i+1

5
10
15
20
25

In [0]:
# break stops the complete iteration when condition met
for val in "string":
    if(val=="i"):
        break
    print(val)
print("the end")

s
t
r
the end

In [0]:
#continue stops the current iteration only when condition met
for val in "string":
    if(val=="n"):
        continue
    print(val)
print("\n"+"the end")

s
t
r
i
g

the end

In [0]:
"""
Using Zip: used to add list together, to view it use list() or set() or a loop
"""
number_list = [1, 2, 3]
str_list = ['one', 'two', 'three']

# Two iterables are passed
result = zip(number_list, str_list)

# Converting itertor to set
result_list = list(result)
print(result_set)

[(1, 'one'), (2, 'two'), (3, 'three')]

In [0]:
"""
Using zip with loop
"""
for num,str_l in result_list:
    print("{}: {}".format(num,str_l))

1: one
2: two
3: three

In [0]:
"""
Enumerate() method adds a counter to an iterable and returns it in a form of enumerate object. This enumerate object can then be used directly in for loops or be 
converted into a list of tuples using list() method.

Enumerate can be viewed in list() or set() method or in loop
"""
li=["Ismail","Ibrahim","Leban"]
s1="Ijiwaji"

en=list(enumerate(li))
en2=list(enumerate(s1,2)) # starting counting from 2
print(en)
print(en2)

[(0, 'Ismail'), (1, 'Ibrahim'), (2, 'Leban')]
[(2, 'I'), (3, 'j'), (4, 'i'), (5, 'w'), (6, 'a'), (7, 'j'), (8, 'i')]

In [0]:
li=["eat","sleep","repeat"]

for l in enumerate(li):
    print(l)

for c,l in enumerate(li,200): # start counting from 200
    print(c,l)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
200 eat
201 sleep
202 repeat

In [0]:
# list comprehension
mul=[i*5 for i in range(1,11)]
mul

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [0]:
# list comprehension with condition; if contins else better mention if and else then loop
mul=[i*5 for i in range(1,11) if (i*5)%2==0]
mul

[10, 20, 30, 40, 50]