<a href="https://colab.research.google.com/github/iahmed3000/app-development/blob/python-skills/Tuple_Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
brothers="Ibro","Lilow","Bash" # when creating tuple paranthesis are optional
print(brothers)
print(type(brothers))

first_bro,second_bro,third_bro=brothers # this procedure is tuple unpacking
print("First {} Second {} Third {}".format(first_bro,second_bro,third_bro))
tree=("Palm tree","Banana tree","Coconut tree") # tuple using paranthesis()
print(tree)

('Ibro', 'Lilow', 'Bash')
<class 'tuple'>
First Ibro Second Lilow Third Bash
('Palm tree', 'Banana tree', 'Coconut tree')

In [17]:
"""
is
evaluates if both sides have the same identity
is not
evaluates if both sides have different identities
"""
books={"Conan Doyle":"Adventures of Sherlock Holmes","Charles Dickens":"Great Expectations","Elaf Shafak":"Forty Rules Of Love"}
print(books)
books["Shakespeare"]="Merchant of Venice"
print(books)
print("Merchant of Venice" in books)
print("Shakespeare" in books)
print("Robert Louis Stephenson" in books)
print(books.get("Robert Louis Stephenson")) # prints None instead of error
print(books.get("Conan Doyle"))
n=books.get("Conan Doyle")
print(n is None)
print(n is not None)

{'Conan Doyle': 'Adventures of Sherlock Holmes', 'Charles Dickens': 'Great Expectations', 'Elaf Shafak': 'Forty Rules Of Love'}
{'Conan Doyle': 'Adventures of Sherlock Holmes', 'Charles Dickens': 'Great Expectations', 'Elaf Shafak': 'Forty Rules Of Love', 'Shakespeare': 'Merchant of Venice'}
False
True
False
None
Adventures of Sherlock Holmes
False
True

In [53]:
"""
Compound Data Structures(Nested Dictionary)
"""
brands={"Trolli":{"item-number":1001001,"item-name":"trolli cocktail","selling-price":10},"Delmonte":{"item-number":1001002,"item-name":"pineapple-orange","selling-price":12}}
print(brands)
brands["Trolli"]["Landed-cost"]=2
brands["Delmonte"]["Landed-cost"]=3.5
print(brands)
print(brands.get("KitKat","Brand not available")) # custom error message instead of None
mars={"item-number":1001003,"item-name":"snickers","selling-price":15,'Landed-cost': 5}
brands["Mars"]=mars
print(brands)

{'Trolli': {'item-number': 1001001, 'item-name': 'trolli cocktail', 'selling-price': 10}, 'Delmonte': {'item-number': 1001002, 'item-name': 'pineapple-orange', 'selling-price': 12}}
{'Trolli': {'item-number': 1001001, 'item-name': 'trolli cocktail', 'selling-price': 10, 'Landed-cost': 2}, 'Delmonte': {'item-number': 1001002, 'item-name': 'pineapple-orange', 'selling-price': 12, 'Landed-cost': 3.5}}
Brand not available
{'Trolli': {'item-number': 1001001, 'item-name': 'trolli cocktail', 'selling-price': 10, 'Landed-cost': 2}, 'Delmonte': {'item-number': 1001002, 'item-name': 'pineapple-orange', 'selling-price': 12, 'Landed-cost': 3.5}, 'Mars': {'item-number': 1001003, 'item-name': 'snickers', 'selling-price': 15, 'Landed-cost': 5}}